.mainDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 400px;
  height: 407px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.detailsTile {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  background: darkgrey;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.title {
  font-size: 25px;
  color: darkblue;
}

.timeOut {
  padding: 5px;
  width: fit-content;
  border-radius: 8px;
}

.cards {
  background-color: darkblue;
  height: 60px;
  border: 1px solid gray;
  text-align: center;
  font-size: 35px;
  color: white;
  cursor: pointer;
  transform: rotateY(0deg);
  opacity: 1;
}

.cardsSecond {
  background-color: white;
  height: 60px;
  border: 1px solid gray;
  text-align: center;
  color: black;
  cursor: pointer;
  transform: rotateY(0deg);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
