<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="introDiv">
    <p class="text-center" style="text-decoration: underline">Game Manual</p>

    <p>1. The game needs the player to find the answers to the sums.</p>
    <p>2. The grid consists of 20 closed squares. (10 sums and 10 answers)</p>
    <p>3. The player is able to click on any closed squares.</p>
    <p>4. Once the player clicks the closed square, it will show a sum or an answer.</p>
    <p>5. If the player finds the square that has the answer to the sum or sum of the answer in the very next click,
      both squares will remain open. If not, both squares will be closed.</p>
    <p>6. The player must open all 20 squares in the grid within 3 minutes.</p>
    <p>7. For ease of use, the player is provided with a calculator to calculate difficult sums.</p>
    <p>8. The player will be moved to the next level only if he/she completes the grid within the given time.</p>
    <p>9. If the player continues to move forward, the hardness of the game will increase.</p>

    <div class="w-100 text-end pt-2 pe-2">
      <button routerLink="/game" class="btn btn-outline-primary">Play the Game</button>
    </div>
  </div>
</div>
